*,*::before,*::after{box-sizing:border-box}body,h1,h2,h3,h4,p,figure,blockquote,dl,dd{margin:0}ul[role="list"],ol[role="list"]{list-style:none}html:focus-within{scroll-behavior:smooth}body{min-height:100vh;text-rendering:optimizeSpeed;line-height:1.5}a:not([class]){text-decoration-skip-ink:auto}img,picture{max-width:100%;display:block}input,button,textarea,select{font:inherit}@media(prefers-reduced-motion:reduce){html:focus-within{scroll-behavior:auto}*,*::before,*::after{animation-duration:.01ms !important;animation-iteration-count:1 !important;transition-duration:.01ms !important;scroll-behavior:auto !important}}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

html, body {
  font-family: 'Nunito', 'Kosugi Maru', sans-serif;
  color: #333333;
  background: #F1EFE5;
}


.splash-enter-active, .splash-leave-active {
  transition: opacity 0.5s ease;
}
.splash-enter, .splash-leave-to {
  opacity: 0;
}

.slide-enter-active, .slide-leave-active {
  transition: all 0.5s ease;
}
.slide-enter {
  opacity: 0;
}

.ingredient-enter-active, .ingredient-leave-active {
  transition: all 0.5s ease;
}
.ingredient-enter, .ingredient-leave-to {
  transform: translateY(100vh);
}


div.main {
  position: fixed;
  width: 100vw;
  height: 100vh;
  .page {
    position: fixed;
    width: 100vw;
    height: 100vh;
    & > .wrapper {
      position: relative;
      width: 100%;
      height: 100%;
      max-width: 600px;
      margin: 0 auto;
      text-align: center;
    }
  }
}

.splash-screen {
  .wrapper {
    background: url("../img/logo_4919.png") center center no-repeat;
    background-size: 50% auto;
  }
  h1 {
    display: none;
  }
  footer {
    position: absolute;
    bottom: 30px;
    left: 0;
    width: 100%;
    height: auto;
    text-align: center;
    span, small {
      display: block;
      font-size: 0.8em;
      color: gray;
    }
  }
}

.group-selector {
  height: 100%;
  overflow-y: auto;
  h1 {
    font-size: 1.2em;
    padding: 20px;
    text-align: center;
  }
  h2 {
    font-size: 1.0em;
    padding: 10px 20px;
  }
  ul {
    margin: 0;
    padding: 0 0 50px;
    li {
      margin: 0;
      list-style: none;
      border: 1px solid #ddd;
      border-width: 0 0 1px;
      padding: 15px;
      cursor: pointer;
      &:first-child {
        border-width: 1px 0;
      }
      &:hover {
        background: #e8e5d4;
      }
    }
  }
}

.daily-menu {
  overflow-y: auto;
  overflow-x: hidden;
  & > .wrapper {
    position: relative;
    min-height: 650px;
    min-width: 300px;
    background: url("../img/bg_classroom.png") center center;
    background-size: auto 100%;
    transition: filter 0.5s ease;
    &.blur {
      filter: blur(5px);
    }
    h3 {
      padding: 15px 0 5px;
    }
    .daily-menu-blackboard {
      position: relative;
      color: white;
      @media screen and (min-width: 0px) {
        margin: 30px -20px;
      }
      @media screen and (min-width: 480px) {
        margin: 30px;
      }
      &:before {
        content: "";
        display: block;
        height: 25px;
        width: calc(100% + 60px);
        position: absolute;
        top: -20px;
        margin: 0 -30px;
        background: url("../img/bg_blackboard_header.png") bottom center no-repeat;
        background-size: 90% auto;
      }
      & > .wrapper {
        height: auto;
        width: calc(100% + 60px);
        margin: 0 -30px;
        padding: 0 72px;
        background: url("../img/bg_blackboard_body.png") center center repeat-y;
        background-size: 90% auto;
      }
      &:after {
        content: "";
        display: block;
        height: 30px;
        width: calc(100% + 60px);
        position: absolute;
        bottom: -25px;
        margin: 0 -30px;
        background: url("../img/bg_blackboard_footer.png") top center no-repeat;
        background-size: 90% auto;
      }
      .daily-menu-controller {
        line-height: 36px;
        span {
          width: 36px;
          height: 36px;
          float: left;
          cursor: pointer;
          &:hover {
            opacity: 0.7;
          }
        }
        h2 {
          width: calc(100% - 72px);
          float: left;
        }
      }
      ul.daily-menu-list {
        padding: 0;
        li {
          list-style: none;
          cursor: pointer;
        }
      }
      div.daily-menu-nutrition {
        padding: 0 0 20px;
        span {
          display: inline-block;
        }
      }
    }
    .daily-menu-table {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      width: 90%;
      max-width: 360px;
      height: 50%;
      max-height: 300px;
      margin: 0 auto;
      & > .wrapper {
        height: 100%;
        width: 100%;
        background: url("../img/bg_table_with_tray.png") top center no-repeat;
        background-size: 100% auto;
      }
    }
  }
  .daily-menu-ingredient {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    height: 100vh;
    width: 100vw;
    text-align: center;
    & > .wrapper {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      max-width: 500px;
      margin: 0 auto;
      background: url("../img/bg_clipboard.png") top left no-repeat;
      background-size: 100% auto;
      &:before {
        content: "";
        display: block;
        padding-top: 135%;
      }
      .clipboard {
        position: absolute;
        top: 8%;
        bottom: 21%;
        left: 15%;
        right: 15%;
        padding: 20px 10px;
        overflow-y: auto;
        overflow-x: hidden;
        ul {
          padding: 0;
          li {
            list-style: none;
          }
        }
      }
      .close-ingredient-list {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 20px;
        z-index: 110;
        padding: 8px;
        width: 100px;
        margin: 0 auto;
        background: rgba(255, 255, 255, 0.5);
        opacity: 0.8;
        border-radius: 20px;
        cursor: pointer;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}

