<html>
<header>
    <link rel="stylesheet" href="./css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js"></script>
    <script src="https://unpkg.com/vue-cookies@1.7.4/vue-cookies.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/encoding-japanese/1.0.30/encoding.js"></script>

    <meta charset="utf-8" />

</header>

<body>
    <div id="app">

        <!-- 学校区分を選択する -->
        <div v-show="isSchoolGroupSelectorShown" id="school-group-selector">
            <div>
                <h1> 学校区分を選択してください。 </h1>
                <ul>
                    <button v-for="group in schoolGroup" @click="setSchoolGroup(group)">
                        {{ group }}
                    </button>
                </ul>
            </div>
        </div>

        <!-- メニュ区分を選択する -->
        <div v-show="isMenuGroupSelectorShown" id="menu-group-selector">
            <div>
                <h1> 学校を選択してください。 </h1>

                <ul v-for="group in menuGroup">
                    <h2> 献立{{ group }} </h2>
                    <li v-if="school.menuGroup === group" v-for="school in targetSchoolList">
                        <button @click="setUserSettingsToCookie(school.schoolName, group)">
                            {{ school.schoolName }}
                        </button>
                    </li>
                    </h2>
                </ul>
            </div>
        </div>

        <!-- メニューを表示 -->
        <div v-show="isDailyMenuShown" id="daily-menu">
            <h1> 本日の献立 </h1>
                <ul>
                    <li>
                        
                    </li>
                </ul>
        </div>

    </div>

    <script src="./js/school.js"></script>
    <!-- <script src="./js/menu.js"></script> -->
</body>

</html>