<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>4919.jp</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="stylesheet" href="./css/style.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
<div id="app" class="main">
  <transition name="splash" appear>
    <!-- スプラッシュスクリーン -->
    <div v-show="isSplashScreenShown" class="page splash-screen">
      <div class="wrapper">
        <h1>4919.jp</h1>
        <footer>
          <span>v{{ version }}</span>
          <small>supported by MisekataLab</small>
        </footer>
      </div>
    </div>
  </transition>
  <transition name="slide">
    <!-- 学校区分を選択する -->
    <div v-show="isSchoolGroupSelectorShown" class="page group-selector school-group-selector">
      <div class="wrapper">
        <h1>学校区分を選択してください</h1>
        <ul>
          <li v-for="group in schoolGroupList" @click="setSchoolGroup(group)">
            {{ group }}
          </li>
        </ul>
      </div>
    </div>
  </transition>
  <transition name="slide">
    <!-- メニュー区分を選択する -->
    <div v-show="isMenuGroupSelectorShown" class="page group-selector menu-group-selector">
      <div class="wrapper">
        <h1>学校を選択してください</h1>
        <div v-for="group in menuGroupList">
          <h2>献立{{ group }}</h2>
          <ul>
            <li v-if="school.menuGroup === group" v-for="school in targetSchoolList" @click="setUserSettingsToCookie(school.schoolName, group)">
              {{ school.schoolName }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </transition>
  <transition name="slide">
    <!-- メニューを表示 -->
    <div v-show="isDailyMenuShown" class="page daily-menu">
      <div class="wrapper" :class="{blur: isIngredientListShown}">
        <header>
          <div class="right-menu"><span class="material-icons" @click="resetCookies()">logout</span></div>
          <h3>献立: {{schoolName}}</h3>
        </header>
        <div class="daily-menu-blackboard">
          <div class="wrapper">
            <div class="daily-menu-controller clearfix">
              <span @click="showYesterdayMenu">«</span>
              <h2>{{ targetDate }}</h2>
              <span @click="showTomorrowMenu">»</span>
            </div>
            <div v-if="targetMenuList.length > 0">
              <ul class="daily-menu-list">
                <li v-for="menuItem in targetMenuList" @click="getMenuIngredient(menuItem)">
                    {{ menuItem }}
                </li>
              </ul>
              <div class="daily-menu-nutrition">
                <span>エネルギ： {{ energy }} kcal</span>
                <span>タンパク質： {{ protein }} g</span>
              </div>
            </div>
            <div v-else class="no-menu-message"><span class="material-icons">sentiment_dissatisfied</span>今日は給食がないみたい！</div>
          </div>
        </div>
        <div class="daily-menu-table">
          <div class="wrapper">
            <img :src="getMenuImageURL(menuItem)" v-for="menuItem in targetMenuList" :alt="menuItem">
          </div>
        </div>
      </div>
      <transition name="ingredient">
        <div class="daily-menu-ingredient" v-if="isIngredientListShown">
          <div class="wrapper">
            <div class="clipboard">
              <h4>{{ clickedMenu }}</h4>
              <ul>
                <li v-for="ingredient in ingredientList"> {{ingredient}} </li>
              </ul>
            </div>
            <span class="close-ingredient-list" @click="closeIngredientList">× 閉じる</span>
          </div>
        </div>
      </transition>
    </div>
  </transition>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js"></script>
<script src="https://unpkg.com/vue-cookies@1.7.4/vue-cookies.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/encoding-japanese/1.0.30/encoding.js"></script>
<script src="./js/main.js"></script>
</body>
</html>